table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.bigHeader {
    background-color: lightblue;
}

.header {
    background-color: orange;
}

.side {
    background-color: lightgray
}

.about {
    width: 100%;
}

th, td {
    padding: 15px;
}